Streaming_Ingest.json
{"flowContents":{"identifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","instanceIdentifier":"b4eec76b-0192-1000-d322-72d39b7be4bb","name":"Streaming Ingest","comments":"","position":{"x":-1560.75,"y":-911.125},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f2d9c5c6-4ddc-3ee0-99e6-6f6dcf5b9fec","instanceIdentifier":"5fc90899-c34d-3ed5-d42e-ba46002649f0","name":"InvokeHTTP","comments":"","position":{"x":768.0,"y":-784.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","HTTP URL":"https://raw.githubusercontent.com/elastic/examples/refs/heads/master/Machine%20Learning/Business%20Metrics%20Recipes/twitter_trends/data/tweets.csv","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"cdeb0b7b-c4bd-3de0-a5e5-a43ebca1a240","instanceIdentifier":"b57afb03-0192-1000-dd9a-2c55caeb2695","name":"ExecuteScript","comments":"","position":{"x":392.0,"y":-784.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.0.0-M4"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import java.nio.charset.StandardCharsets\nimport java.text.SimpleDateFormat\nimport org.apache.nifi.processor.io.StreamCallback\n\n// Create a new flow file since there's no upstream processor providing one\nflowFile = session.create()\nif (!flowFile) return\n\ndef random = new Random()\n\n// Define lists of words, phrases, and hashtags\ndef words = [\"awesome\", \"fantastic\", \"amazing\", \"incredible\", \"great\", \"wonderful\", \"lovely\", \"beautiful\", \"happy\", \"fun\"]\ndef phrases = [\"can't believe\", \"so excited about\", \"just discovered\", \"finally got\", \"totally in love with\"]\ndef hashtags = [\"DevOps\", \"Cloud\", \"Security\", \"BigData\", \"AI\", \"MachineLearning\"]\n\n// Function to generate a random date in the past year\ndef randomDate(random) {\n    def baseDate = new Date(System.currentTimeMillis() - (365 * 24 * 60 * 60 * 1000))\n    def randomOffset = random.nextInt(365 * 24 * 60 * 60 * 1000)\n    new Date(baseDate.getTime() + randomOffset)\n}\n\n// Function to generate a random tweet\ndef generateTweet(random, words, phrases, hashtags) {\n    def tweet = [:]\n    \n    // Generate random tweet text using parameters\n    def randomWord = words[random.nextInt(words.size())]\n    def randomPhrase = phrases[random.nextInt(phrases.size())]\n    def randomHashtag = hashtags[random.nextInt(hashtags.size())]\n    \n    tweet.text = \"${randomPhrase} how ${randomWord} ${randomHashtag} is!\"\n    \n    // Generate random tweet creation date\n    tweet.created_at = new SimpleDateFormat(\"EEE MMM dd HH:mm:ss Z yyyy\").format(randomDate(random))\n    \n    // Generate random tweet id and id_str\n    tweet.id = random.nextLong()\n    tweet.id_str = tweet.id.toString()\n    \n    // Set other random or fixed values for remaining fields\n    tweet.truncated = true\n    tweet.entities = [:]\n    tweet.entities.hashtags = [[text: randomHashtag]]\n    tweet.metadata = [iso_language_code: \"en\", result_type: \"recent\"]\n    tweet.source = \"<a href=\\\"http://www.twitter.com\\\" rel=\\\"nofollow\\\">Twitter Web Client</a>\"\n    \n    return tweet\n}\n\n// Generate tweets by passing random, words, phrases, and hashtags as arguments\ndef tweets = []\nfor (i in 0..10) {\n    tweets.add(generateTweet(random, words, phrases, hashtags))\n}\n\n// Convert to JSON string using JsonBuilder for pretty output\ndef json = new groovy.json.JsonBuilder(tweets).toPrettyString()\n\n// Write the JSON to the flowfile content using StreamCallback\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    outputStream.write(json.getBytes(StandardCharsets.UTF_8))\n} as StreamCallback)\n\n// Transfer the flow file to the next processor\nsession.transfer(flowFile, REL_SUCCESS)\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"5bf95f85-6bee-3502-a643-c5bb399d7f63","instanceIdentifier":"aa47cf8f-1b20-3ea7-e886-e57b559fbc3e","name":"ConvertRecord","comments":"","position":{"x":600.0,"y":224.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"2f3d3a5a-cd88-39f2-8ffb-96d007c8367b","Record Reader":"73ea1aeb-30ab-3580-933d-68093b4dc792"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"b0d43b08-d346-37f7-b8c4-e563cf8a037c","instanceIdentifier":"9a49f9ff-515b-37a8-83e8-1ef3554a7d89","name":"LogMessage","comments":"","position":{"x":1296.0,"y":432.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"4694ed33-f95a-36c3-945a-bc146f74ca91","instanceIdentifier":"d91125e7-3a02-3f70-16be-106344ad6b33","name":"ExecuteScript - extract key fields","comments":"","position":{"x":608.0,"y":8.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.0.0-M4"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\n\n// Get the flow file from the session\nflowFile = session.get()\nif (!flowFile) return\n\n// Read the flow file content and process each line separately\nflowFile = session.write(flowFile, { inputStream, outputStream ->\n    def text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n\n    // Split the input by newlines to get each JSON object separately\n    def lines = text.split('\\n')\n\n    def jsonSlurper = new JsonSlurper()\n    def extractedJsonList = []\n\n    // Process each line (assuming each line is a valid JSON object)\n    lines.each { line ->\n        def jsonObject = jsonSlurper.parseText(line)\n\n        // Extract the first four attributes from the JSON object\n        def extractedAttributes = [\n            \"created_at\": jsonObject.created_at,\n            \"id\": jsonObject.id,\n            \"id_str\": jsonObject.id_str,\n            \"text\": jsonObject.text\n        ]\n\n        extractedJsonList << extractedAttributes\n    }\n\n    // Convert the list of extracted JSON objects to a pretty-printed JSON string\n    def newJson = JsonOutput.prettyPrint(JsonOutput.toJson(extractedJsonList))\n\n    // Write the new JSON string to the output stream\n    outputStream.write(newJson.getBytes(StandardCharsets.UTF_8))\n} as StreamCallback)\n\n// Transfer the flow file to the success relationship\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"310b078d-8e60-3dea-8870-5a8de387c851","instanceIdentifier":"b4f5bf5b-0192-1000-1203-39329d4fd350","name":"ConsumeKafkaRecord_2_6","comments":"","position":{"x":608.0,"y":-200.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.0.0-M4"},"properties":{"header-name-regex":null,"Commit Offsets":"true","output-strategy":"USE_VALUE","record-writer":"2f3d3a5a-cd88-39f2-8ffb-96d007c8367b","group.id":"demogroup","bootstrap.servers":"192.168.0.10:9093","topic_type":"pattern","sasl.kerberos.service.name":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","honor-transactions":"true","record-reader":"73ea1aeb-30ab-3580-933d-68093b4dc792","kerberos-user-service":null,"message-header-encoding":"UTF-8","key-format":"byte-array","sasl.username":null,"max.poll.records":"10000","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"key-record-reader":null,"sasl.token.auth":"false","Communications Timeout":"60 secs","topic":"^[A-Za-z0-9\\s-]+$","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"latest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-strategy":{"name":"output-strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Value Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Value Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"key-format":{"name":"key-format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"key-record-reader":{"name":"key-record-reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"06b1a705-fcaf-3b9b-bb8e-9d82b07b82b7","instanceIdentifier":"b57ba77c-0192-1000-df8f-b82d9311a2a9","name":"LogMessage","comments":"","position":{"x":-16.0,"y":-584.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"11c078fe-a7aa-3c81-909d-5b713d7a9d47","instanceIdentifier":"b5389437-0192-1000-641b-0d8aef3cbdc3","name":"LogMessage","comments":"","position":{"x":1296.0,"y":-576.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.0.0-M4"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"5f5c2223-8d6d-34c0-8aa3-0c0d59d7dfaa","instanceIdentifier":"b4efb4d4-0192-1000-551b-edac706c292a","name":"PublishKafkaRecord_2_6","comments":"","position":{"x":608.0,"y":-576.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"2.0.0-M4"},"properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":"2f3d3a5a-cd88-39f2-8ffb-96d007c8367b","bootstrap.servers":"192.168.0.10:9093","sasl.kerberos.service.name":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"73ea1aeb-30ab-3580-933d-68093b4dc792","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"true","acks":"all","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"id","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","topic":"streaming-demo","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"111314f3-1df4-3f21-bfc8-59c5a1cab504","instanceIdentifier":"e2f90e5a-e2a8-3913-781f-7f8e064e99ed","name":"PutVastDB","comments":"","position":{"x":600.0,"y":432.0},"type":"python.PutVastDB","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"1.0.8"},"properties":{"VastDB Table Name":"twitter_data","VastDB Database Schema":"twitter_import","Data Type":"Json","VastDB Bucket":"vastdb","VastDB Endpoint":"http://192.168.0.10:8765","VastDB Credentials Provider Service":"85e9a84b-62b5-3d6f-bbf3-48cea7855d55"},"propertyDescriptors":{"VastDB Table Name":{"name":"VastDB Table Name","displayName":"VastDB Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Database Schema":{"name":"VastDB Database Schema","displayName":"VastDB Database Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Type":{"name":"Data Type","displayName":"Data Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Bucket":{"name":"VastDB Bucket","displayName":"VastDB Bucket","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Endpoint":{"name":"VastDB Endpoint","displayName":"VastDB Endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"VastDB Credentials Provider Service":{"name":"VastDB Credentials Provider Service","displayName":"VastDB Credentials Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e871c8cf-3ee6-315d-a967-3696df212dbf","instanceIdentifier":"b4efe1b0-0192-1000-dd4d-c95a6aff2a52","name":"","source":{"id":"f2d9c5c6-4ddc-3ee0-99e6-6f6dcf5b9fec","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"InvokeHTTP","comments":"","instanceIdentifier":"5fc90899-c34d-3ed5-d42e-ba46002649f0"},"destination":{"id":"5f5c2223-8d6d-34c0-8aa3-0c0d59d7dfaa","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"b4efb4d4-0192-1000-551b-edac706c292a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":936.0,"y":-618.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"2c6b0ef8-67a9-31f0-89f7-4fc281bd7718","instanceIdentifier":"2c909f0b-0315-3ebd-245d-5639cbf04595","name":"","source":{"id":"5bf95f85-6bee-3502-a643-c5bb399d7f63","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"ConvertRecord","comments":"","instanceIdentifier":"aa47cf8f-1b20-3ea7-e886-e57b559fbc3e"},"destination":{"id":"b0d43b08-d346-37f7-b8c4-e563cf8a037c","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"LogMessage","comments":"","instanceIdentifier":"9a49f9ff-515b-37a8-83e8-1ef3554a7d89"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1263.0,"y":285.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"529a48ec-ee49-3f7a-925f-f5d7ebf48ab3","instanceIdentifier":"a6fe3596-343b-3baf-a6cf-2ff81ce896db","name":"","source":{"id":"5bf95f85-6bee-3502-a643-c5bb399d7f63","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"ConvertRecord","comments":"","instanceIdentifier":"aa47cf8f-1b20-3ea7-e886-e57b559fbc3e"},"destination":{"id":"111314f3-1df4-3f21-bfc8-59c5a1cab504","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"PutVastDB","comments":"","instanceIdentifier":"e2f90e5a-e2a8-3913-781f-7f8e064e99ed"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"1becd583-ba40-356f-a810-1aef595b7c66","instanceIdentifier":"b586d83a-0192-1000-8d0a-6837f184e95e","name":"","source":{"id":"cdeb0b7b-c4bd-3de0-a5e5-a43ebca1a240","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"ExecuteScript","comments":"","instanceIdentifier":"b57afb03-0192-1000-dd9a-2c55caeb2695"},"destination":{"id":"06b1a705-fcaf-3b9b-bb8e-9d82b07b82b7","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"LogMessage","comments":"","instanceIdentifier":"b57ba77c-0192-1000-df8f-b82d9311a2a9"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":160.0,"y":-722.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"ca88fd13-0d27-3e11-8246-9b086efc4abd","instanceIdentifier":"b505ac2f-0192-1000-24eb-29f5ea91b49f","name":"","source":{"id":"310b078d-8e60-3dea-8870-5a8de387c851","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"ConsumeKafkaRecord_2_6","comments":"","instanceIdentifier":"b4f5bf5b-0192-1000-1203-39329d4fd350"},"destination":{"id":"b0d43b08-d346-37f7-b8c4-e563cf8a037c","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"LogMessage","comments":"","instanceIdentifier":"9a49f9ff-515b-37a8-83e8-1ef3554a7d89"},"labelIndex":0,"zIndex":0,"selectedRelationships":["parse.failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1471.0,"y":-139.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"f72861f9-ee76-3232-b841-10cd273238ce","instanceIdentifier":"b57bc4db-0192-1000-b05c-143e69a9463c","name":"","source":{"id":"cdeb0b7b-c4bd-3de0-a5e5-a43ebca1a240","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"ExecuteScript","comments":"","instanceIdentifier":"b57afb03-0192-1000-dd9a-2c55caeb2695"},"destination":{"id":"5f5c2223-8d6d-34c0-8aa3-0c0d59d7dfaa","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"b4efb4d4-0192-1000-551b-edac706c292a"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":608.0,"y":-618.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"95391e2c-ff97-3248-8997-f12c9e3c74d1","instanceIdentifier":"b4f61209-0192-1000-d67b-dfcb0af9b24d","name":"","source":{"id":"310b078d-8e60-3dea-8870-5a8de387c851","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"ConsumeKafkaRecord_2_6","comments":"","instanceIdentifier":"b4f5bf5b-0192-1000-1203-39329d4fd350"},"destination":{"id":"4694ed33-f95a-36c3-945a-bc146f74ca91","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"ExecuteScript - extract key fields","comments":"","instanceIdentifier":"d91125e7-3a02-3f70-16be-106344ad6b33"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"bca10cf3-3b52-34a7-86d1-1e4052fc1152","instanceIdentifier":"b4f1bcf9-0192-1000-0c32-ffcf789b9e82","name":"","source":{"id":"5f5c2223-8d6d-34c0-8aa3-0c0d59d7dfaa","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"PublishKafkaRecord_2_6","comments":"","instanceIdentifier":"b4efb4d4-0192-1000-551b-edac706c292a"},"destination":{"id":"11c078fe-a7aa-3c81-909d-5b713d7a9d47","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"LogMessage","comments":"","instanceIdentifier":"b5389437-0192-1000-641b-0d8aef3cbdc3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"5254e7fe-d7b8-3ac1-b0f5-3a09f7c26376","instanceIdentifier":"b33eab6f-9451-3df8-4b51-8d024b44d3cb","name":"","source":{"id":"4694ed33-f95a-36c3-945a-bc146f74ca91","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"ExecuteScript - extract key fields","comments":"","instanceIdentifier":"d91125e7-3a02-3f70-16be-106344ad6b33"},"destination":{"id":"5bf95f85-6bee-3502-a643-c5bb399d7f63","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"ConvertRecord","comments":"","instanceIdentifier":"aa47cf8f-1b20-3ea7-e886-e57b559fbc3e"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"241daf40-6e17-311c-88ae-a5d27028d8ca","instanceIdentifier":"496975dd-c754-3014-7994-2caad68ec65e","name":"","source":{"id":"111314f3-1df4-3f21-bfc8-59c5a1cab504","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"PutVastDB","comments":"","instanceIdentifier":"e2f90e5a-e2a8-3913-781f-7f8e064e99ed"},"destination":{"id":"b0d43b08-d346-37f7-b8c4-e563cf8a037c","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"LogMessage","comments":"","instanceIdentifier":"9a49f9ff-515b-37a8-83e8-1ef3554a7d89"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"9c8aebe3-b151-3cd7-ab8d-89ef3f6977b2","instanceIdentifier":"b163fda1-e9e9-3941-c0d7-1ab619b3301f","name":"","source":{"id":"4694ed33-f95a-36c3-945a-bc146f74ca91","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"ExecuteScript - extract key fields","comments":"","instanceIdentifier":"d91125e7-3a02-3f70-16be-106344ad6b33"},"destination":{"id":"b0d43b08-d346-37f7-b8c4-e563cf8a037c","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"LogMessage","comments":"","instanceIdentifier":"9a49f9ff-515b-37a8-83e8-1ef3554a7d89"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1343.0,"y":69.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"dd82443b-f162-3223-867e-711fb0a59db8","instanceIdentifier":"15158ef7-2eec-3f31-1849-2ec1f1616e53","name":"","source":{"id":"f2d9c5c6-4ddc-3ee0-99e6-6f6dcf5b9fec","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"InvokeHTTP","comments":"","instanceIdentifier":"5fc90899-c34d-3ed5-d42e-ba46002649f0"},"destination":{"id":"11c078fe-a7aa-3c81-909d-5b713d7a9d47","type":"PROCESSOR","groupId":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10","name":"LogMessage","comments":"","instanceIdentifier":"b5389437-0192-1000-641b-0d8aef3cbdc3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1472.0,"y":-720.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"73ea1aeb-30ab-3580-933d-68093b4dc792","instanceIdentifier":"2bd816e3-6ca0-319d-e13b-b1a83dc1d04d","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Max String Length":"20 MB","schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}","Allow Comments":"false"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"2f3d3a5a-cd88-39f2-8ffb-96d007c8367b","instanceIdentifier":"0f5e67cf-3edb-3c89-37c3-091a81d83aea","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-oneline","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"85e9a84b-62b5-3d6f-bbf3-48cea7855d55","instanceIdentifier":"daf44c00-3613-3779-acc2-b33cd53e4c47","name":"AWSCredentialsProviderControllerService","comments":"","type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"2.0.0-M4"},"properties":{"profile-name":null,"assume-role-proxy-host":null,"default-credentials":"false","Session Time":"3600","assume-role-proxy-port":null,"assume-role-ssl-context-service":null,"assume-role-sts-signer-override":"Default Signature","custom-signer-class-name":null,"Assume Role ARN":null,"custom-signer-module-location":null,"Assume Role Session Name":null,"assume-role-sts-endpoint":null,"assume-role-sts-region":"us-west-2","Credentials File":null,"assume-role-external-id":null,"anonymous-credentials":"false"},"propertyDescriptors":{"profile-name":{"name":"profile-name","displayName":"Profile Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true,"dynamic":false},"assume-role-proxy-host":{"name":"assume-role-proxy-host","displayName":"Assume Role Proxy Host","identifiesControllerService":false,"sensitive":false,"dynamic":false},"default-credentials":{"name":"default-credentials","displayName":"Use Default Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Time":{"name":"Session Time","displayName":"Assume Role Session Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-proxy-port":{"name":"assume-role-proxy-port","displayName":"Assume Role Proxy Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-ssl-context-service":{"name":"assume-role-ssl-context-service","displayName":"Assume Role SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"assume-role-sts-signer-override":{"name":"assume-role-sts-signer-override","displayName":"Assume Role STS Signer Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Assume Role ARN":{"name":"Assume Role ARN","displayName":"Assume Role ARN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Assume Role Session Name":{"name":"Assume Role Session Name","displayName":"Assume Role Session Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-endpoint":{"name":"assume-role-sts-endpoint","displayName":"Assume Role STS Endpoint Override","identifiesControllerService":false,"sensitive":false,"dynamic":false},"assume-role-sts-region":{"name":"assume-role-sts-region","displayName":"Assume Role STS Region","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"assume-role-external-id":{"name":"assume-role-external-id","displayName":"Assume Role External ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"anonymous-credentials":{"name":"anonymous-credentials","displayName":"Use Anonymous Credentials","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.processors.aws.credentials.provider.AwsCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0-M4"}},{"type":"org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-service-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"},{"identifier":"60d89fbe-06e1-3bdc-afb2-c83e9669b623","instanceIdentifier":"28985202-c782-3ba4-1bee-ce8c3562ddeb","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.0.0-M4"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"true","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":null,"csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"infer-schema","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.0.0-M4"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"8d0a9b2a-56bf-3804-b3af-d54f017f6b10"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}